
<link rel="stylesheet" href="/css/comment.css">

<li id="comment-<%= comment._id %>" class="comment-container">
    <!-- <div class="pic">
        <img id="profile-pic" src="<%= comment.user.avatar %>" alt="Not Found"
            onerror=this.src="../images/noavatar.png">
    </div> -->
    <div class="topheader">
        <a class="comment-user-info" style="text-decoration: none; " href="/users/profile/<%= comment.user.id%>"><%= comment.user.name %></a>
        <!-- <p class="comment-content"> -->

        <div class="delete-button">
            <% if(locals.user && ((locals.user.id==comment.user.id )||( locals.user.id==post.user.id))){%>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment._id %>"><img src="../images/delete.png"></a>

            <% } %>
        </div>
    </div>


    <div class="comment-content">
        <%= comment.content %>
    </div>

    <div class="likeDiv">
        <small class="like">
            <% if(locals.user){ %>
                <a class="toggle-like-button" data-likes="<%=comment.likes.length%>"
                    href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                    <span class="like-span">
                        <%= comment.likes.length %> <img src="../images/like.png">
                    </span>

                </a>
                <% } else { %>
                    <span class="like-span">
                        <%= comment.likes.length %> <img src="../images/like.png">
                    </span>
                <% } %>
        </small>
    </div>

    
</li>